/* ------Fonts----- */

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  src:
    local("Rajdhani"),
    local("Rajdhani"),
    url("fonts/Rajdhani.woff2") format("woff2"), /* Super Modern Browsers */
    url("fonts/Rajdhanibold.woff") format("woff"); /* Modern Browsers */
}

/* ------Global----- */

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: "Rajdhani", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

header,
footer {
  flex-shrink: 0;
}

main {
  background-color: #c0dbd9;
  flex-grow: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #000;
  background-color: grey;
  border: 1px solid #000;
}

.button:active {
  opacity: 0.5;
}

.button:disabled {
  opacity: 0.1;
}

/* ------Container----- */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1023px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

/* ------Header----- */

.header {
  padding: 41px 0 41px 30px;
}

.header,
.footer {
  background-color: #7faff7;
}

.header__link {
  padding: 9px 15px;
  color: #fff;
  background-color: #a5c7f9;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  line-height: 23px;
}

.header,
.big-blocks {
  margin-bottom: 15px;
}

/* ------Big-blocks----- */

.big-blocks__list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0;
  grid-row-gap: 15px;
  background-color: #b3f95a;
}

.big-blocks__item {
  background-color: #8ad191;
  display: flex;
  justify-content: center;
}

.big-blocks__item svg {
  margin-top: 68px;
  margin-bottom: 68px;
}

.big-blocks__item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.big-blocks__item:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 6;
}

.big-blocks__item:nth-child(1),
.big-blocks__item:nth-child(2),
.big-blocks__item:nth-child(4) {
  margin-right: 15px;
}

.big-blocks__item:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 6;
}

/* ------Small-blocks----- */

.small-blocks {
  padding: 30px;
  background-color: #88b5bf;
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .small-blocks {
    padding: 10px;
    margin-bottom: 50px;
  }
}

.small-blocks__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  list-style: none;
  padding-left: 0;
  justify-items: center;
  margin: 0;
  grid-gap: 30px;
}

@media (max-width: 1023px) {
  .small-blocks__list {
    grid-template-columns: repeat(auto-fit, minmax(139px, 1fr));
  }
}

@media (max-width: 767px) {
  .small-blocks__list {
    grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
  }
}

.small-blocks__item {
  width: 20vw;
  height: 15vw;
  background-color: #0d89b0;
  max-width: 255px;
  max-height: 199px;
}

/* ------Footer----- */

.footer {
  padding: 50px 0 50px 30px;
}

/* ------Modal----- */

.modal__inner {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 400px;
  position: relative;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  padding: 35px;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #e5e5e5;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #7faff6;
  border: none;
  border-radius: 5px;
  width: 43px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close svg {
  color: #fff;
  width: 13px;
  height: 23px;
}

@media (max-width: 767px) {
  .modal__inner {
    width: 100%;
  }
}
